*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
   
}



body{
    
    height: 100%;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: .1fr 2fr .2fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
    background-color: rgb(19, 78, 60);
    
}
.active{
    color: black !important;

}

header{
    background-color: rgb(19, 78, 60);
    grid-area: header;
    
   
}
header section h1{
    width: 60vh;
    font-size: 70px;
    padding: 20px;
    margin-left: 15vh;
    text-decoration: underline;
    
}
.div_header{
    margin-right: 80px;
    
    
}
header section{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    
}
.barra{
    color: rgb(120, 178, 160); 
    background-color: black;
    font-size: 20px;
 
}


/* HEADER NAV */

 a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    transform: scale(1.2);
    background: #282929f1;
    border-radius: 20px;
    color: black;
}



/* MAIN */
main{
    grid-area: main;
    background-color: rgb(19, 78, 60) ;
    
}

.carousel-img{
    height: 450px;
    border-radius: 10px;
}

.parrafo-inicio{
    padding: 20px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


.img2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
  
} 
.img-item{
    width: 49%;
    border-radius: 10px;
    height: 500px;
   
    
}




/* FOOTER */

footer{
    grid-area: footer;
}

.contenedor-footer{
    display: flex;
    background-color: rgb(19, 78, 60) ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 10px;

}

.footer-div{
    width: 320px;
    font-size: 25px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* PRIMER COLUMNA */
footer section div h3{
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;


}
footer section div p{
    font-size: 20px;
}

/* SEGUNDA COLUMNA */

.flex-title{
    font-size: 40px ;
    font-weight: bold;
   
}
.flex-item{
    padding: 5px 0;

}
.columna2-3{
    margin-left: 50px;
}







/* MAIN  "PRODUCTOS"*/

#main-contenedor{
    display: grid;
    width: 100%;
    background-color: #181a1b;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-content: center;
    align-items: center;
    
  
}
.grid-productos{
    height: 400px;
    width: 300px;
    margin: 30px auto;
    text-align: center;
    line-height: 300px; 
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 219, 114);
}


.grid-img{
    height: 400px;
    width: 300px;
   
}

/* MAIN GARANTIAS  */

.title-garantia{
    font-size: 40px;
    padding: 30px 0;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main-garantia{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url(../assets/images/redes/Wallpaper-1920x1080-px\,-black-background\,-Microsoft-.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(74, 195, 206);
    
}

.ul-garantia{
    width: 95%;
    margin-left: 40px;
    padding: 20px 30px;
    margin-top: 30px;
    
    
}
.text-garantia{
    list-style-type: circle;
    font-size: 19px;
    text-align: justify;
    padding: 5px 0;
    
} 

/* MAIN  CONTACTOS */
.body-contacto{
    background-color: #181a1b;
    color: black;
}
.main-contacto{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #181a1b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .8fr 1fr;
    grid-template-areas: 
    "section-mapa section-mapa"
    "section-contacto section-form"
    ;
    border: 2px solid rgb(31, 37, 34);
    padding: 10px 40px;
    
}
.section-mapa{
    grid-area: section-mapa;
}

div iframe{
    width: 100%;
    border-radius: 10px;
    
    
}
.section-contacto{
   grid-area: section-contacto;
   padding: 25px;
   border: 1px solid black;
   width: 100%;
  
 

}
.section-form{
   grid-area: section-form;
   
   
}
 .contactanos{
    text-align: center;
    padding:20px;
    font-size: 30px;
    border: 1px solid rgb(19, 78, 60) ;
    color: rgb(10, 219, 114);
    
    
}
.h6cont{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    text-decoration: underline;
    color: rgb(10, 219, 114);
    
    
}
.pcont{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: rgb(10, 219, 114);

}



.contacto-form{
    width: 100%;
    text-align: center;
    background-color:rgb(70, 67, 67);
    margin: auto;
    padding: 25px;
    font-size: 20px;
    border: 7px double black;
    
}



fieldset legend{
    font-size: 40px;
    padding: 10px;
    
}


.formlabel{
    display: block;
    text-align: center;
    

    
}
.forminput{
    width: 70%;
    height: 30px;
    background-color:  rgb(22, 68, 53);
    font-size: 15px;
}
.flex-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-left: 20px;

}
.p-formulario{
    width: 90%;
    font-size: 14px;
    padding: 10px;
    
}

.enviar{
   height: 30px;
   background-color: rgb(22, 68, 53);
   border: 1px solid black;
 
   
} 

/* MAIN  NOSOTROS */
.conteiner-nosotros{
  display: flex;
  justify-content:center;
  align-items: center;
  background-image: url(../assets/images/redes/alien1500px.jpg);
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  

  
  
  
   
}

.nosotros{
  padding: 5px;
  max-width: 70%;
  font-size: 20px;
  color: rgb(10, 219, 114);
  background-color: rgba(0, 0, 0, 0.7);
  
}





                       /* MEDIA "1300" */


@media (max-width: 1300px){
    body{
        display: block;   
    }


    .img2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
       
        
      
    } 
    .img-item{
 
        height: 450px; 
    }
    
    
    
    .contenedor-footer{
        justify-content:space-between;
        text-align:center;
        padding: 10px;
    }
    .footer-div{
        width: 500px;
        font-size: 23px;  
    }
    /* PRIMER COLUMNA */
    footer section div h3{
    margin-bottom: 5px;
    }
    footer section div p{
        font-size: 20px;
        margin: 0;
    }
    
    /* SEGUNDA COLUMNA */
    .flex-title{
        font-size: 30px; 
    }
    .columna2-3{
        margin: auto;
        padding: 0 30px;
    }
    .redes-logo{
        align-items: center;
    }

    /* MAIN NOSOTROS */

                          /* MEDIA 1200 */
}
@media (max-width: 1200px){
#main-contenedor{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(18, 1fr);
}
    

.grid-productos{                                                                      
        margin: 0 auto;
        font-size: 35px;
        grid-column: 1/4;    }
   
}
.grid-item{
    margin: auto;
}

.grid-img{
    height: 350px;
    width: 250px;
}




                          /* MEDIA 1066 */
@media (max-width: 1066px){
    body{
        display: block;   
    }
    .carousel-img{
        height: 350px;
        border-radius: 10px;
    }
    .img-item{
        height: 350px;
    } 

    /* MAIN  CONTACTOS */

.main-contacto{
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: .7fr .7fr .3fr;
    grid-template-areas: 
    "section-mapa section-mapa section-mapa"
    ". section-contacto ."
    ". section-form ."
    ;
}
.section-contacto{
   
   padding: 15px;
   border: none;
}

 .contactanos{
    padding:15px; 
}
.h6cont{
    padding: 5px;
}




fieldset legend{
    font-size: 35px;  
}



.forminput{
    width: 90%;
   
}
.flex-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-left: 20px;

}
.p-formulario{
    font-size: 10px;
    padding: 5px;
    
}
}  



                              /* MEDIA 1020 */
@media (max-width: 1020px){
                    /* INDEX */
   
    

    header section h1{
        font-size: 60px;
        padding: 10px 0px;
        margin-left: 0;
        text-align: center;    
    }
    .div_header{
        margin-right: 0px;
    }
    header section{
        flex-direction: row;
        justify-content: center;  
    }
    .barra{
        font-size: 15px;
    }

    .parrafo-inicio{ 
        font-size: 25px; 
    }
   

    .contenedor-footer{
        justify-content:space-around;
        text-align:center;
        padding: 10px;
    }

    .footer-div{
        width: 350px;
          
    }
    /* MAIN NOSOTROS */
    .conteiner-nosotros{
        background-image:url(../assets/images/redes/aliens1000px.jpg);
         
      }
      
    .nosotros{
        padding: 5px;
        max-width: 85%;
        font-size: 15px;
        color: rgb(10, 219, 114);
    
  }
}

                                         /* MEDIA 768 */
@media (max-width: 768px){

    header section h1{
        font-size: 60px;
        padding: 10px 0px;
        margin-left: 0;
        text-align: center;    
    }
    .div_header{
        margin-right: 0px;
    }
    header section{
        flex-direction: row;
        justify-content: center;
    }

    .carousel-img{
        width: 100%;
        height: 280px;
    }  

                                /* MAIN PRODUCTOS */

    #main-contenedor{
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
        justify-content:none;
        align-items:none;
    
}
    .grid-productos{
        height: 200px;
        width: 100%;
        margin: auto;
        line-height: 200px; 
        font-size: 25px;

}
    .grid-item{
        text-align: center;
    }
    .grid-img{
        height: 300px;
        width: 200px;
}
                          /* MAIN CONTACTO */


.main-contacto{
    width: 90%;
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: none;
    
}


.section-contacto{
   padding: 25px;
   border: none;

}

 .contactanos{
    padding:20px;
    font-size: 23px;  
}
.h6cont{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-decoration: underline;
    
}
.pcont{
    padding: 3px;
    font-size: 17px

}
fieldset legend{
    font-size: 30px;
   
    
}


.formlabel{
    display: block;
    text-align: center;
    font-size: 17px;

    
}
.forminput{
    width: 70%;
    height: 25px;
   
}

.enviar{
   height: 25px;
   font-size: 15px;
 
} 

}
                            /* MEDIA 723 */
@media (max-width: 723px){

    .img2{
       
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
        
      
    } 
    .img-item{
        width: 90%;
        border-radius: 10px;
        height: 250px;
        margin: 1px;
       
        
    }
    .parrafo-inicio{ 
        font-size: 18px; 
    }
}





                           /* MEDIA 480  */

@media (max-width: 480px){
    

    body{
        
        display: block;
       
      }
  
    header section h1{
        font-size: 40px;
        padding: 10px 0px;
        margin-left: 0;
        text-align: center;    
    }
    .div_header{
        margin-right: 0px;
    }
    header section{
        flex-direction: row;
        justify-content: center;  
    }
    .barra{
        font-size: 15px;
    }


    .carousel-img{
        width: 100%;
        height: 200px;
    }  

    .parrafo-inicio{ 
        font-size: 18px; 
    }


    .img-item{
        
        width: 90%;
        height: 200px;
        flex-direction: column;
        margin: 1px;
    } 
   
    .contenedor-footer{
       
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        
    }
    
    .footer-div{
        width: 320px;
        font-size: 20px; 
    }
    /* PRIMER COLUMNA */
    footer section div h3{
        text-align: center;
        font-size: 30px;
        margin-bottom: 0;
    }
    footer section div p{
        font-size: 18px;
        text-align: center;
    }
    
    /* SEGUNDA COLUMNA */
    
    .flex-title{
        font-size: 30px ;
        font-weight: bold;
        text-align: center;
       
       
    }
    .flex-item{
        padding: 4px 0;
        text-align: center;
   
    }
    
    .columna2-3{
        display: none;
       
    }
    .logo{
        width: 100px;
        height: 80px;
        padding: 10px 0;
    }
    
    .redes-logo{
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
       
    
    }
     /* CONTACTANOS */
    
     .contactanos{
        font-size: 20px;  
    }
   
    .h6cont{
        font-size: 20px;
        padding: 5px;
    }
    .pcont{
        font-size: 18px;
    }
    .main-contacto{
        margin-bottom: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: .8fr .2fr .3fr;
        grid-template-areas: 
        "section-mapa"
        "section-contacto"
        "section-form"
        ;
        padding: 0;
       
        
    }
    
    .section-contacto{
        padding: 10px;
    }
    
    
    div iframe{
        width: 100%;  
    }
    fieldset legend{
        font-size: 30px;
    }
    
    .contacto-form{
        padding: 5px;
        font-size: 18px;
    }
   
    .forminput{
        width: 80%;
    }
    .p-formulario{
        width: 90%;
        font-size: 10px;
        padding:  20px 5px;   
    }
    
}