

main{

    .conteiner-card{
        @include flexbox(flex,row,nowrap,space-around,center);
        
        @include desktop1066{
            flex-wrap: wrap;
        }

        @include table723 {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        #notes{
            @include title-productos;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #procesadores{
            @extend #notes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #mother{
            @extend #notes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #placas{
            @extend #notes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #ram{
            @extend #notes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #almacenamiento{
            @extend #ram;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #gabinetes{
            @extend #notes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #fuentes{
            @extend #notes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #monitores{
            @extend #fuentes;

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        .card {
            border-radius: 5px;
            padding: 10px;
            width: 300px;
            margin: 20px;
            box-shadow: 0 2px 4px rgb(36, 231, 95);
            text-align: center;
            background-color: rgb(255, 255, 255) !important;
            transition: all 0.3s ease;

            &:hover{
                border: 5px solid $color-violet;
                transform: scale(1.1);
                border-radius: 5px;
            }

            @include desktop1066{
                border: 3px solid $color-violet;
                width: 210px;
                margin: 20px;
            }

            @include table723{
                width: 300px;
            }

            @include movile480{
                width: 80%;
            }

            .text{
                color: #000000;
                font-size: 16px;
                font-weight: bold;

                @include desktop1066{
                    font-size: 15px;
                }

                @include table723{
                    font-size: 16px;
                }
            }
            
            .precio {
                color: #059964;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
}
