

main{

    .conteiner-card{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        @include desktop1066{
            flex-wrap: wrap;
        }

        @include table723 {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .title-producto{
            width: 300px;
            text-align: center;
            line-height: 400px; 
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(10, 219, 114);

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }  
        }

        #procesadores{
            width: 300px;
            text-align: center;
            line-height: 400px; 
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(10, 219, 114);

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #placas{
            width: 300px;
            text-align: center;
            line-height: 400px; 
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(10, 219, 114);

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        #monitores{
            width: 300px;
            text-align: center;
            line-height: 400px; 
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(10, 219, 114);

            @include desktop1066{
                line-height: 150px; 
                font-size: 30px;
                flex-basis: 100%;
            }
        }

        .card {
            border-radius: 5px;
            padding: 10px;
            width: 300px;
            margin: 20px;
            box-shadow: 0 2px 4px rgb(36, 231, 95);
            text-align: center;
            background-color: rgb(255, 255, 255);
            transition: all 0.3s ease;

            &:hover{
                border: 5px solid $color-violet;
                transform: scale(1.1);
                border-radius: 5px;
            }

            @include desktop1066{
                border: 3px solid $color-violet;
                width: 210px;
                margin: 20px;
            }

            @include table723{
                width: 300px;
            }

            .text{
                color: #000000;
                font-size: 16px;
                font-weight: bold;

                @include desktop1066{
                    font-size: 15px;
                }

                @include table723{
                    font-size: 16px;
                }
            }
            
            .precio {
                color: #059964;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
}
