



header{
    background-color: rgb(19, 78, 60);
    grid-area: header;
    background-color: $color-fondo;
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;

        @include desktop1020 {
            justify-content: center;
        }

         h1{
            width: 55vh;
            font-size: 70px;
            padding: 20px;
            margin-left: 15vh;
            text-decoration: underline;
            color: $color-green;
            overflow-x: hidden;
            

            @include desktop1020 {
                font-size: 60px;
                padding: 10px 0px;
                margin-left: 0;
                text-align: center; 
            }

            @include table768 {
                font-size: 60px;
                padding: 10px 0px;
                margin-left: 0;
                text-align: center;
            }
            
        }
        .div_header{
            margin-right: 80px;

            @include desktop1020 {
                margin-right: 0px; 
            }

            .barra{
                color: $color-violet; 
                background-color: black;
                font-size: 20px;
                border-radius: 10px;
                border: 2px $color-green solid;
                overflow: hidden;

                @include desktop1020 {
                    font-size: 15px;
                }
             
            }
            
        }
    }
    nav{  

       a{
            color: black;
            color:$color-violet !important;
            text-decoration: none;
            
         &:hover{
                transform: scale(1.2);
                background-color: rgb(13, 21, 11);
                border-radius: 20px;
                color: black;
                
            }
        }
            
    }
   
}
    
