body{
    height: 100%;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: .1fr 2fr .2fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
    background-color: $color-fondo;

    @include desktop1300 {
        display: block;
    }
   
    
}
// .active{
//     color: rgb(11, 141, 13) !important;

// }
