
@mixin flexbox( $dis , $direction , $wp , $just , $align){
    display : $dis;
    flex-direction: $direction;
    flex-wrap: $wp;
    justify-content: $just;
    align-items: $align;
}

@mixin title-productos{
    width: 300px;
    text-align: center;
    line-height: 400px; 
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-green;
}

// MEDIA QUERIES

@mixin desktop1300 {
    @media screen and (max-width: 1300px) {
        @content;
    }
}

@mixin desktop1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop1066 {
    @media screen and (max-width: 1066px) {
        @content;
    }
}


@mixin desktop1020 {
    @media screen and (max-width: 1020px) {
        @content;
    }
}


@mixin table768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin table723 {
    @media screen and (max-width: 723px) {
        @content;
    }
}


@mixin mobile480 {
    @media screen and (max-width: 480px) {
        @content;
    }
}


