// VARIABLES
$color-violet:  rgb(107, 66, 195);
$color-green:  rgb(10, 219, 114);
$color-fondo: rgb(4, 9, 6);


// MAPAS
$estilos-personalizados: (
    "width": 320px,
    "Tfuente": 25px,
    "pad" : 10px,
    "color": $color-green,
);








